@page
@model IndexModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Customers</title>

        <style>
            table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            }

            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }

            tr:nth-child(even) {
            background-color: #dddddd;
            }
        </style>
    </head>

    <body>
        <h1>Customer Information</h1>

        @{
            List<Customer>? customers = (List<Customer>)ViewData["customers"];
            bool insert = false;

            if (ViewData["insert"] != null)
            {
                insert = true;
            }

            if (customers != null)
            {
                @:<table>
                    @:<tr>
                        @:<th>ID</th>
                        @:<th>Name</th>
                        @:<th>Email</th>
                        @:<th>Action</th>
                    @:</tr>

                     @foreach (var customer in customers)
                    {
                        <tr>
                            <td>@customer.ID</td>
                            <td>@customer.Name</td>
                            <td>@customer.Email</td>
                            <td>
                                <form method="post">
                                    <button type="submit" name="delete" value="@customer.ID">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                @:</table>
            }

            if (insert)
            {
                <form method="post">
                    <input type="hidden" name="inserting" value="inserting" />
                    Enter your name: <input type="text" name="name" required /> <br>
                    Enter your email: <input type="text" name="email" required /> <br>
                    <button type="submit">Submit</button>
                </form>
            }
            else
            {
                <form method="post">
                    <input type="hidden" name="insert" value="insert" />
                    <button type="submit">Insert data</button>
                </form>
            }
        }
    </body>
</html>